<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form action="/" method="post"> 
      <label for="fname">Benutzer-ID</label><br>
      <input type="number" id="idBenutzer" name="fname"><br>
      <label for="lname">Kennwort:</label><br>
      <input type="password" id="Kennwort" name="lname"><br><br>
      <input type="submit" value="Einloggen">
  </form>  
</body>
</html>